@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  display: flex;
  min-height: 100vh;
  background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-water-drops-bubble-christmas-birthday-new-year-celebration-minimal-geometric-dynamic-picture-image_1220234.jpg");
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thum:hover {
  background-color: #555;
}
